<div class="col-md-6">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">ඔබගේ නම</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ඔබගේ නම">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">ඇනවුම් ලිපිනය</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ඇනවුම් ලිපිනය">
        </div>

        <div class="form-row">
            <div class="col">
                <label for="exampleFormControlInput1">දුරකතන අංකය</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="දුරකතන අංකය">
            </div>
            <div class="col">
                <label for="exampleFormControlInput1">විද්‍යුත් ලිපිනය</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="විද්‍යුත් ලිපිනය">
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="exampleFormControlTextarea1">අවශ්‍ය භාණ්ඩ</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="ඔබට අවශ්‍ය භාණ්ඩ මෙහි සඳහන් කරන්න"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">ආසන්නම නියොජිතයා</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>මනම්පෙරි ස්ටෝස් මාතර</option>
            </select>
        </div>
        <p>* ඇම්නවූම් බිල්පත් ගාස්තුවට අමතරව රැ.150 රැගෙන ඒමේ ගාස්තු අයකරනු ලබයි</p>
        <button type="submit" class="btn btn-success btn-block">ඇනවුම් කරන්න</button>

    </form>

</div>

<div class="col-md-6">
    <div class="whatsapp">
        <img src="<?php echo get_template_directory_uri(); ?>/img/whataap.png" alt="">
        <a href="https://wa.me/07611006339">076 11 00 639</a>

    </div>

    <ul>
        <li>
            ඇම්නවූම් බිල්පත් ගාස්තුවට අමතරව රැ.150 රැගෙන ඒමේ ගාස්තු අයකරනු ලබයි
        </li>
        <li class="mt-2">
            ඇම්නවූම් බිල්පත් ගාස්තුවට අමතරව රැ.150 රැගෙන ඒමේ ගාස්තු අයකරනු ලබයි
        </li>
        <li class="mt-2">
            ඇම්නවූම් බිල්පත් ගාස්තුවට අමතරව රැ.150 රැගෙන ඒමේ ගාස්තු අයකරනු ලබයි
        </li>
        <li class="mt-2">
            ඇම්නවූම් බිල්පත් ගාස්තුවට අමතරව රැ.150 රැගෙන ඒමේ ගාස්තු අයකරනු ලබයි
        </li>
    </ul>

</div>