#index_offer {
  padding: 1% 1%;
  background: #01866d;
  background: -moz-linear-gradient(left, #01866d 0%, #2d3677 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #01866d), color-stop(100%, #2d3677));
  background: -webkit-linear-gradient(left, #01866d 0%, #2d3677 100%);
  background: -o-linear-gradient(left, #01866d 0%, #2d3677 100%);
  background: -ms-linear-gradient(left, #01866d 0%, #2d3677 100%);
  background: linear-gradient(to right, #01866d 0%, #2d3677 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1212', endColorstr='#ffc500', GradientType=1);

  h1 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
  }
}

#index_fe_product {
  padding-top: 3%;
  padding-bottom: 3%;

  h1 {
    font-size: 45px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #2d3777;
  }

  P {
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
  }

  h4 {
    font-size: 20px;
    font-weight: 900;
  }

}

#dps_front-pack {
  padding-top: 3%;
  padding-bottom: 3%;

  .seller_subs_info {
    display: none;
  }

  p {
    text-align: center;
    font-size: 22px;
    max-width: 930px;
    margin: auto;
  }

  .dokan-subscription-content {
    margin-top: 30px;
  }

  .product_pack_item {
    max-width: 22%;
    display: inline-grid;
    margin: 1%;
    width: 100%;

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 42px;
    }

    .buy_pack_button {
      bottom: 0 !important;
      margin-top: -5px;
      margin-bottom: 30px;
    }

    .pack_data_option {
      display: none;
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 10px !important;
  }

}


#dps_front-onlineshop {
  padding-top: 3%;
  padding-bottom: 3%;

  div#dokan-store-listing-filter-wrap {
    display: none;
  }

  .pagination-container.clearfix {
    display: none;
  }

  h2 {
    text-align: center;
    margin-bottom: 55px !important;
  }

  .store-data h2 {
    text-align: left;
    margin-bottom: 12px !important;
  }
}






.whatsapp {
  a {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
  }

  img {
    max-width: 50px;
    margin-right: 15px;
  }
}



#oder24 {
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  background: #f8f8f8;

  ul {
    li {
      padding: 0 8px;

      svg {
        font-size: 70px;
        color: #2d3677;

      }
    }
  }

  img {
    max-width: 500px;
  }
}

#online_main_btn {
  padding: 2% 0 0;
}

.free_lb {
  background: #e10000;
  padding: 7px 50px;
  display: inline-block;
  border-radius: 42px;
  color: #fff;
  margin-top: 16px;
}


#slider_section {
  padding: 1% 0;

  .col_padding {
    padding: 5px;
  }

  .index_cat_btn {
    a {
      background: $primary_color;
      margin-bottom: 7px;
      color: $white;
      font-size: 22px;
      font-weight: 500;
      padding: 10px 22px;
      transition: all 0.6s ease;

      svg {
        position: absolute;
        right: 34px;
        margin: 5px;
      }
    }

    a:hover {
      background: $secandery_color;
    }
  }

  .carousel {
    background: #ccc;
    min-height: 365px;
    border-radius: 6px;
    background: $secandery_color;
    overflow: hidden;


  }

  .index_banner_img {
    min-height: 115px;
    background: $secandery_color;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
  }
}


#index_about {
  padding: 0 0 3%;
  background: #f8f8f8;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    color: #4B4B4B;
  }

}


.topic_bg {
  background: #f53101;
  color: #fff;
  padding: 6px 20px 10px;
  border: 2px solid;
  border-radius: 45px;
  font-weight: 900;
}