#footer {
    background: #01866d;
    background: -moz-linear-gradient(left, #01866d 0%, #2d3677 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #01866d), color-stop(100%, #2d3677));
    background: -webkit-linear-gradient(left, #01866d 0%, #2d3677 100%);
    background: -o-linear-gradient(left, #01866d 0%, #2d3677 100%);
    background: -ms-linear-gradient(left, #01866d 0%, #2d3677 100%);
    background: linear-gradient(to right, #01866d 0%, #2d3677 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1212', endColorstr='#ffc500', GradientType=1);
    padding-top: 4%;
    padding-bottom: 2%;
    color: $white;

    a {
        color: $white;
    }

    .gov_section {
        img {
            max-width: 50px;
        }

        h2 {
            margin-top: 10px;
            text-align: center;
            margin-bottom: 20px;
            font-size: 20px;
        }

    }

    h2 {
        font-size: 20px;
        color: $white;
        text-transform: uppercase;
        text-align: center;

        a {
            margin-left: 20px;
        }
    }

    h3 {
        font-size: 14px;
        text-align: center;
    }

    p {
        color: $white;
        font-size: 12px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        padding-left: 0;
        text-align: center;
        font-size: 10px;
        margin-bottom: 0;
        margin-top: 25px;

        li {

            a {
                color: $white;
                transition: 0.4s;
                font-size: 16px;

                &:hover {
                    text-decoration: none;
                    color: lighten($white, 30%);
                }
            }
        }
    }
}