.nav_bar_top {
    background: #000;
    padding: 5px 0;

    li {
        margin: 0 10px;

        a {
            color: lighten($primary_color, 50%);
            transition: 0.5s;
            text-transform: uppercase;
            font-size: 13px;

            &:hover {
                text-decoration: none;
                color: lighten($primary_color, 30%);
            }
        }

        svg {
            margin-right: 10px;
        }

    }


}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}


.woocommerce-product-search {

    #woocommerce-product-search-field-0 {
        border-radius: 3px;
        padding: 0 10px;
        font-size: 14px;
    }


    button.submit {
        position: absolute;
        right: 6px;
        background: transparent;
        border: none;
        top: 6px;
        /* left: 5px; */
    }
}

.form-control:focus {
    background-color: #fff;
    border-color: #2b2b2b;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(132, 133, 134, 0.25);
}



.navbar::after {
    content: "";
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #01866d;
    background: -moz-linear-gradient(left, #01866d 0%, #2d3677 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #01866d), color-stop(100%, #2d3677));
    background: -webkit-linear-gradient(left, #01866d 0%, #2d3677 100%);
    background: -o-linear-gradient(left, #01866d 0%, #2d3677 100%);
    background: -ms-linear-gradient(left, #01866d 0%, #2d3677 100%);
    background: linear-gradient(to right, #01866d 0%, #2d3677 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1212', endColorstr='#ffc500', GradientType=1);
}

table.thwepo-extra-options.thwepo_variable {
    margin-bottom: 25px;
    width: 100%;
}

#index_offer .offer_card .offer_card_right .offer_crad_right_r1 img {
    padding: 0;
    max-width: 200px;
}

#index_offer .offer_card .offer_card_left img {
    width: 100%;
    margin-top: 2%;
    padding: 0;
}

p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    font-size: 22px;
    margin-bottom: 40px;
}

.woocommerce .woocommerce-customer-details address {
    border: 0 solid rgba(255, 255, 255, 0.1);
}

.woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1,
.woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2 {
    max-width: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
    width: 100%;
}

.navbar-nav li {
    transform: 0.6s;
}

.navbar-light .navbar-nav .active>.nav-link {
    border-bottom: 0 solid #fff !important;
    color: $secandery_color !important;
}


#index_offer .offer_card .offer_card_right .offer_crad_right_l1 h3 {
    margin-top: 35px;
}

#index_offer .offer_card h3 {
    font-size: 16px;
}

#index_offer .offer_card h2 {
    font-size: 20px;
}

.nav_cart a {
    color: $secandery_color;
}

li#menu-item-8954 {
    background: #cc0001;
    padding: 0 30px;
    border-radius: 44px;
}

li#menu-item-8954 a {
    color: #fff !important;
}