.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    color: $secandery_color;
    text-decoration: none;
    background-color: #000000;
}


.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    max-width: 150px;
}


.navbar-light .navbar-nav .nav-link {
    color: $brown!important;
    font-weight: 600;
    font-size: 16px;
}