.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active {
    background: #2c3777 !important;
}

.dokan-dashboard .dokan-dash-sidebar {
    background-color: #01866d !important;
}

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu {
    background: #01866d !important;
}

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li {
    border-bottom: 1px solid #ffffff80 !important;
}

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.dokan-common-links a {
    border-bottom: 1px solid #ffffff80 !important;
}

.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover {
    background: #2d3777 !important;
}

.dokan-dashboard .dokan-dashboard-wrap {
    margin-bottom: 100px;
}

div#dokan-secondary {
    display: none;
}




.dokan-subscription-content .pack_content_wrapper .product_pack_item .pack_content h2 {
    font-size: 26px !important;
    margin-top: -7px !important;
    margin-bottom: 30px !important;
    color: #2c3777;
    text-transform: uppercase;
}

.dokan-subscription-content .pack_content_wrapper .product_pack_item .pack_price {
    width: 100% !important;
    height: 60px !important;
    border-radius: 5px !important;
    top: -25px !important;
    background: #2c3777 !important;
    left: 0 !important;
    font-size: 28px !important;
    padding-top: 9px !important;
    color: #fff;
    text-align: center;
}

.dps-amount span.woocommerce-Price-currencySymbol {
    margin-right: 5px;
}

.pack_data_option br {
    display: none;
}

.pack_data_option strong {
    margin-left: 7px;
}

input[type='submit'].dokan-btn,
a.dokan-btn,
.dokan-btn {
    padding: 7px 48px !important;
    font-size: 18px !important;
    border-radius: 40px !important;
}

.dokan-subscription-content .pack_content_wrapper .product_pack_item .buy_pack_button {
    bottom: -20px !important;
    margin-top: 20px;
}

input[type='submit'].dokan-btn-theme:hover,
a.dokan-btn-theme:hover,
.dokan-btn-theme:hover,
input[type='submit'].dokan-btn-theme:focus,
a.dokan-btn-theme:focus,
.dokan-btn-theme:focus,
input[type='submit'].dokan-btn-theme:active,
a.dokan-btn-theme:active,
.dokan-btn-theme:active,
input[type='submit'].dokan-btn-theme.active,
a.dokan-btn-theme.active,
.dokan-btn-theme.active,
.open .dropdown-toggleinput[type='submit'].dokan-btn-theme,
.open .dropdown-togglea.dokan-btn-theme,
.open .dropdown-toggle.dokan-btn-theme,
input[type='submit'].dokan-btn,
a.dokan-btn,
.dokan-btn {
    color: #fff;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}

input[type='submit'].dokan-btn-theme,
a.dokan-btn-theme,
.dokan-btn-theme {
    color: #fff;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}

.dokan-subscription-content .pack_content_wrapper .product_pack_item.current_pack {
    border-bottom: 2px solid #2c3777 !important;
}

.dokan-subscription-content .pack_content_wrapper .product_pack_item {
    text-align: center;
}


nav.woocommerce-breadcrumb {
    display: none;
}

#dokan-content {
    max-width: 1400px;
    margin: auto;
}

.dokan-single-store .profile-frame .profile-info-box .profile-info-img {
    width: 100% !important;
    max-height: 200px;
    object-fit: contain;
}


.dokan-single-store .profile-frame .profile-info-box.profile-layout-layout2 .profile-info-summery-wrapper .profile-info-summery .profile-info .dokan-store-info {
    display: none !important;
}

.dokan-single-store .profile-frame .profile-info-box.profile-layout-layout2 .profile-info-summery-wrapper {
    position: relative;
    background-color: #fff;
    color: #444;
    border: 1px solid #EDEDED;
    height: 160px !important;
    margin-bottom: 30px;
}

.dokan-store-tabs {
    display: none;
}

header.entry-header h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 33px;
    padding: 8px;
    color: #2b3876;
    border-radius: 55px;
    border: 1px solid #2b3a77;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.woocommerce form .form-row label {
    line-height: 1;
    width: 100%;
}

.woocommerce form .password-input,
.woocommerce-page form .password-input {
    width: 100%;
}

#customer_login .btn-primary,
#customer_login .btn-outline-primary {

    max-width: 300px;
    margin: inherit;
    font-size: 17px;
    width: 100%;
    padding: 10px 20px;
    left: 0;
}


.store-data-container span.street_1 {
    display: none;
}

#dokan-seller-listing-wrap.grid-view .store-content .store-data-container .store-data .store-address br {
    display: none;
}

.store-data h2 {
    margin-top: 15%;
}

#dokan-seller-listing-wrap.grid-view .store-content .store-data-container .featured-favourite .featured-label {
    background: #ffbd03 !important;
    color: #1d1d1d !important;
}


#dokan-primary .woocommerce ul.products.columns-5 li.product,
#dokan-primary .woocommerce-page ul.products.columns-5 li.product {
    width: 18.5% !important;
}

.page-id-4996 .product_pack_item {
    max-width: 24%;
    padding: 20px;
    display: inline-block;
    margin: 0.5%;
}

.entry-content {
    margin-bottom: 50px;
}

.pack_content {
    margin-top: 30px;
    margin-bottom: 28px;
}


.dokan-store-wrap .dokan-single-store {
    max-width: 1240px;
    margin: auto;
}


#dokan-content li.product {
    width: 23.5% !important;

}


#dokan-seller-listing-wrap .dokan-single-seller .store-wrapper .store-header .store-banner img {
    object-fit: cover;
    object-position: center;
}