// .woocommerce .woocommerce-breadcrumb {
//     margin: 1rem 0 1em;
// }

// h1.woocommerce-products-header__title:before,
// h1.woocommerce-products-header__title:after,
// .page h1.entry-title:after,
// .page h1.entry-title:before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: #f5f6f7;
//     top: 0;
// }

// h1.woocommerce-products-header__title:after,
// .page h1.entry-title:after {
//     right: -100%;
// }

// h1.woocommerce-products-header__title:before,
// .page h1.entry-title:before {
//     left: -100%;
// }

// h1.woocommerce-products-header__title,
// .page h1.entry-title {
//     color: #1c1d1d;
//     text-transform: uppercase;
//     padding: 25px;
//     margin: 0 0 20px 0;
//     background: #f5f6f7;
//     position: relative;
//     font-size: 30px;
//     font-weight: 700;
//     text-align: center;
// }

// .woocommerce .woocommerce-ordering {
//     margin: 0 0 1.5em;
// }

// .woocommerce .woocommerce-breadcrumb a {
//     font-size: 14px;
// }

// .left_sidebar_text {
//     h2 {
//         font-weight: 500;
//         font-size: 25px;
//     }
// }

// h3.widget-title {
//     font-size: 14px;
//     text-transform: uppercase;
//     color: #391800;
//     background: #f9c500;
//     padding: 7px 10px;
// }


// li.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term .count {
//     display: none;
// }

// .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item a,
// .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item span,
// ul.product-categories li a,
// ul.product-categories,
// ul.woocommerce-widget-layered-nav-list {
//     padding-left: 15px;
//     color: #b3b3b3;
//     font-size: 14px;
//     line-height: 24px;
// }

// .widget-area aside {
//     margin-bottom: 45px;
//     margin-top: 15px;
// }

// h3.widget-title {
//     margin-bottom: 15px;
// }

// .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item,
// ul.product-categories li {
//     padding: 0 0 1px;
//     list-style: none;
// }

// ul.product-categories {
//     padding: 0;
// }

// .woocommerce .woocommerce-result-count {
//     margin: 0.5em 0 1em;
// }


// // singel product style 

// .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
//     border: 1px solid #ccc;
// }


// .product_meta {
//     display: grid;
// }

// .woocommerce div.product form.cart {
//     margin-bottom: 2em;
//     display: grid;
// }

// .woocommerce a.button.alt,
// .woocommerce button.button.alt,
// .woocommerce input.button.alt {
//     background-color: $brown;
//     color: #fff;
//     -webkit-font-smoothing: antialiased;
//     margin-top: 10px;
//     max-width: 250px;
//     padding: .618em 5em;
// }

// .woocommerce a.button.alt:hover,
// .woocommerce button.button.alt:hover,
// .woocommerce input.button.alt:hover {
//     background-color: lighten($primary_color, 10%);
//     color: #fff;
// }


// span.sku_wrapper,
// span.posted_in {
//     font-weight: 500;
//     text-transform: uppercase;
//     font-size: 14px;
//     line-height: 25px;
// }


// span.sku_wrapper span.sku,
// span.posted_in span.sku {
//     color: #7b7b7b;
// }

// span.posted_in a {
//     color: #7b7b7b;
//     text-decoration: none;
// }

// .woocommerce div.product p.price,
// .woocommerce div.product span.price {
//     color: $primary_color;
//     font-size: 1.25em;
// }



// .woocommerce div.product .woocommerce-tabs ul.tabs li.active {
//     border-right: 1px solid #ccc;
//     border-left: 1px solid #ccc;
//     border-top: 1px solid #ccc;
// }

// .woocommerce div.product .woocommerce-tabs ul.tabs {
//     padding: 0 0 0 6px;
// }

// .woocommerce div.product .woocommerce-tabs ul.tabs li {
//     background-color: #f9f9f9;
// }


// .woocommerce-error,
// .woocommerce-info,
// .woocommerce-message {
//     background-color: $primary_color;
//     color: $white;
//     border-top: 3px solid $primary_color;
// }

// .woocommerce-message::before {
//     color: $white;
// }

// .woocommerce form .form-row label {
//     width: 100%;
// }

// span.woocommerce-input-wrapper {
//     width: 100%;
// }

// .select2-container--default .select2-selection--single {
//     height: calc(1.5em + .75rem + 2px);
//     padding: .375rem .75rem;
// }

// .woocommerce-additional-fields {
//     margin-top: 30px;
// }




.woocommerce ul.products li.product .price ins {
    text-decoration: none;
    color: #5A5A5A;
}

// .woocommerce ul.products li.product a img {
//     border: 1px solid #f1f1f1;
//     margin: 0 0 0.3em;
// }

// .woocommerce span.onsale {
//     min-height: 2.236em;
//     min-width: 5.236em;
//     line-height: 23px;
//     border-radius: 2px;
//     background-color: #fd1403;
//     padding: 5px 10px;
// }

// .woocommerce ul.products li.product .onsale {
//     top: 0;
//     right: auto;
//     left: 0;
//     margin: 0;
// }

// div#tab-description h2 {
//     display: none;
// }

// .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
//     background-color: $brown;
//     ;
// }

// .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
//     background-color: $brown;
//     ;
// }

// .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
//     background-color: #c1c1c1;
// }

// .woocommerce #respond input#submit,
// .woocommerce a.button,
// .woocommerce button.button,
// .woocommerce input.button {
//     color: #ffffff;
//     background-color: $brown;
// }

// .product_list_hover {
//     opacity: 0;
//     position: absolute;
//     top: 0;
//     width: 100%;
//     padding: 30% 10%;
//     bottom: 0;
//     max-height: 100%;
//     text-align: center;
//     background: rgba(255, 255, 255, 0.870588);
//     -webkit-transition: 0.6s;
//     transition: 0.6s;

//     .add-to-cart-container {
//         margin-top: 10px;
//     }
// }

// .woocommerce .products li.product:hover .product_list_hover {
//     opacity: 1;
// }

// .select2-container .select2-selection--single .select2-selection__rendered {
//     padding-left: 0;
//     padding-right: 0;
// }

// .select2-container--default .select2-selection--single .select2-selection__rendered {
//     line-height: 1;
// }

// .woocommerce div.product .woocommerce-tabs .panel h2 {
//     display: none;
// }

// .woocommerce-tabs.wc-tabs-wrapper {
//     padding-bottom: 4%;
// }



// #reviews #comments {
//     margin: 0 0 0;
//     max-width: 800px;
// }

// .woocommerce #review_form #respond {
//     max-width: 500px;
// }

// .woocommerce div.product form.cart div.quantity {
//     width: 100%;
// }


// ul.products .product_cart_price {
//     bottom: 9%;
//     right: 25px;
//     position: absolute;
// }

// .woocommerce ul.products li.product .woocommerce-loop-category__title,
// .woocommerce ul.products li.product .woocommerce-loop-product__title,
// .woocommerce ul.products li.product h3 {
//     padding: .4em 0;
//     margin: 0;
//     font-size: 1em;
//     font-weight: 600;
//     line-height: 26px;
// }

// .home .woocommerce ul.products li.product .price {
//     color: #ff1212;
//     font-weight: 600;
//     font-size: 18px;
// }

// ul.products .product_cart_price p {
//     display: none;
// }

// .woocommerce a.added_to_cart {
//     padding-top: .5em;
//     display: inline-block;
//     position: absolute;
//     top: 0;
//     background: #f9c401cf;
//     padding: 12px 11px;
//     color: #391800;
//     width: 100%;
//     left: 0;
//     text-align: center;
//     transition: 0.4s;
//     -webkit-transition: 0.4s;
//     -moz-transition: 0.4s;
//     -ms-transition: 0.4s;
//     -o-transition: 0.4s;
//     z-index: 99;
// }

// a.single_add_to_cart_button {
//     text-decoration: none;
//     max-width: 100%;
//     font-size: 16px;
//     padding: 8px 3px;
// }

// .woocommerce ul.products li.product,
// .woocommerce-page ul.products li.product {
//     float: left;
//     margin: 0 2% 1.5em 0;
//     padding: 0;
//     position: relative;
//     width: 23.0%;
//     margin-left: 0;
//     text-align: center;
// }

// .woocommerce ul.products li.product .price {
//     color: #ff1212;
//     font-weight: 600;
//     font-size: 16px;
// }

// code {
//     color: #391800;
// }

// .woocommerce-error,
// .woocommerce-info,
// .woocommerce-message {
//     color: #391800;
// }

// .woocommerce-message::before {
//     color: #391800;
// }


// .woocommerce-notices-wrapper {
//     margin-top: 45px;
// }


// .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
//     border: 1px solid #f3f2f2;
// }

// article,
// aside,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// main,
// nav,
// section {
//     display: flow-root;
//     width: 100%;
// }

// .woocommerce div.product p.price,
// .woocommerce div.product span.price {
//     color: #391800;
//     font-size: 1.25em;
// }

// .woocommerce a.button.alt:hover,
// .woocommerce button.button.alt:hover,
// .woocommerce input.button.alt:hover {
//     background-color: #391800;
//     color: #fff;
// }

// form.checkout.woocommerce-checkout {
//     margin-bottom: 40px;
// }

// li.wc_payment_method.payment_method_payhere label {
//     display: inline;
// }

// .woocommerce div.product form.cart div.quantity {
//     width: 100%;
//     margin-bottom: 20px;
// }

// .woocommerce-product-search button.submit {
//     display: none !important;
// }


.woocommerce-variation.single_variation {
    margin-bottom: 20px;
}

form.woocommerce-form.woocommerce-form-track-order.track_order {
    text-align: center;
    font-size: 20px;
}

form.woocommerce-form.woocommerce-form-track-order.track_order input {
    padding: 10px;
}

form.woocommerce-form.woocommerce-form-track-order.track_order p.form-row {
    margin: auto;
    display: inline;
    width: 100%;
    font-size: 22px;
}


// a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
//     min-height: 295px;
//     display: block;
// }


// .home a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
//     min-height: 355px;

// }

// .page a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
//     min-height: 370px;
// }

.product span.onsale {
    min-height: 0;
    min-width: 0;
    padding: 20px 29px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 0;
    top: 0;
    left: 0;
    margin: -.5em -.5em 0 0;
    border-radius: 50px;
    background-color: #f30017;
    color: #fff;
    font-size: 20px;
    z-index: 9;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    float: left;
    margin: 0 1.5% 1.5em 0;
    text-align: center;
    padding: 22px;
    position: relative;
    width: 18.5%;
    margin-left: 0;
    box-shadow: 0px 2px 8px 0px #00000026;
}


.woocommerce ul.products li.product a img {
    margin-bottom: 0;
    max-width: 170px;
    margin: auto;
    padding: 5px;
}


.woocommerce ul.products li.product .price {
    color: #1e1e1e;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: 0.9em;
    margin-top: 2px;
}


.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    padding: 0 0 0.5em;
    margin: 0;
    font-size: 1em;
    line-height: 26px;
    min-height: 60px;
    font-weight: 400;
    color: #000;
    background: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 55px;
}

.woocommerce ul.products li.product .product_cart_price {
    display: none;
}

.add-to-cart-container {
    margin-top: 15px;
}

.woocommerce ul.products li.product .onsale {
    top: 7%;
    right: 23%;
    left: auto;
    margin: -.5em -.5em 0 0;
    font-size: 14px;
    border-radius: 15px;
    padding: 13px 26px;
}


.woocommerce a.added_to_cart {
    padding-top: .5em;
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    left: 0;
    background: #01856deb;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.woocommerce-page.columns-5 ul.products li.product,
.woocommerce.columns-5 ul.products li.product {
    width: 18.5%;
}

.woocommerce .woocommerce-breadcrumb {
    padding: 13px 0;
}

.single .single-product span.onsale {
    padding: 20px 38px;
    top: 22px;
    border-radius: 61px;
    font-size: 18px;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: #767676;
    font-size: 1.5em;
}

section.related.products {
    display: inline-block;
}


.single-product button.btn.btn-outline-primary {
    padding: 7px 36px;
    display: inline;
    width: 100%;
    max-width: 250px;
    font-size: 22px;
}

.woocommerce div.product form.cart div.quantity {
    float: left;
    margin: 0 13px 0 0;
}


.woocommerce .quantity .qty {
    width: 4.631em;
    text-align: center;
    padding: 3px 2px;
    border-radius: 6px;
    font-size: 27px;
}

p.stock.in-stock {
    display: none;
}

.related h2 {
    background: #e6e6e6;
    padding: 12px 30px;
    font-size: 24px;
    margin-bottom: 24px;
}

.product_meta {
    display: inline-grid;
}

#archive_page .archive_page ul.products li.product,
#archive_page .archive_page ul.products li.product {
    width: 23.5%;
}



header.woocommerce-products-header h1 {
    font-size: 20px;
}

header.woocommerce-products-header h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 33px;
    /* background: #b9b9b94f; */
    padding: 8px;
    color: #2b3876;
    border-radius: 55px;
    border: 1px solid #2b3a77;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    padding: 0.8em 2em 0.8em 3.5em;
    margin: 0 0 2em;
    background-color: #01866d;
    color: #ffffff;
    border-top: 3px solid #ffffff;
    font-size: 20px;
}

.woocommerce-message::before {
    content: "\e015";
    color: #ffffff;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    padding: .4em 2em;
    border-radius: 39px;
    color: #515151;
    background-color: #ffffff;
}

li.product-category.squirrel-cat {
    float: left;
    margin: 0 1% 0.5em 0;
    text-align: center;
    padding: 8px;
    position: relative;
    width: 9%;
    margin-left: 0;
    -webkit-box-shadow: 0px 1px 5px 0px #00000026;
    box-shadow: 0px 1px 5px 0px #00000026;
}



h2.woocommerce-loop-category__title.squirrel-cat-h2 {
    font-size: 13px;
    margin-top: 6px;
    min-height: 30px;
    overflow: hidden;
    height: 30px;
    margin-bottom: 0;
}

// side Bar style 

h3.widget-title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

ul.product-categories {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.children li {
    list-style: inside;
}

.widget {
    background: #f2f2f2;
    padding: 20px;
    display: block;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 5px 0px #00000026;
    box-shadow: 0px 1px 5px 0px #00000026;
}

// cart page  


.shop_table button.btn.btn-outline-primary {
    float: right;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 60%;
}

.wc-proceed-to-checkout .btn,
.form-row.place-order .btn {
    width: 100%;
    font-size: 22px;
    max-width: 100%;
}


.woocommerce div.product form.cart {
    margin-bottom: 2em;
    display: grid;
}

.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $brown;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-top: 10px;
    max-width: 250px;
    padding: .618em 5em;
}

.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: lighten($primary_color, 10%);
    color: #fff;
}


span.sku_wrapper,
span.posted_in {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 25px;
}


span.sku_wrapper span.sku,
span.posted_in span.sku {
    color: #7b7b7b;
}

span.posted_in a {
    color: #7b7b7b;
    text-decoration: none;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: $primary_color;
    font-size: 1.25em;
}

span.woocommerce-input-wrapper {
    width: 100%;
}

.woocommerce-checkout-payment li.woocommerce-notice.woocommerce-notice--info.woocommerce-info {
    line-height: 20px;
    background-color: #dedede;
    color: #2a2a2a;
    border-top: 3px solid #ffffff;
    font-size: 15px;
}

header.entry-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

li.wc_payment_method.payment_method_payhere label {
    display: contents;
}

header.woocommerce-products-header {
    margin-top: 30px;
}