a:hover {
    color: lighten($brown, 5%);
    text-decoration: none;
}

a {
    color: $brown;
    text-decoration: none;
    background-color: transparent;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #151515;
    background-color: transparent;
}

.btn-outline-primary:hover {
    border-color: transparent;
    border-color: transparent;
}


.btn-primary,
.btn-outline-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary:hover {
    color: #fff;
    background-color: lighten($brown, 5%);
    border-color: lighten($brown, 5%);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #151515;
    background-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: lighten($brown, 5%);
    border-color: lighten($brown, 5%);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(38, 143, 255, .5);
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(43, 43, 43, 0.71);
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(57, 24, 0, 0);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    border-color: transparent;
    border-color: transparent;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(57, 24, 0, 0);
}

nav.woocommerce-pagination {
    margin: 15px 0;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
    background-color: #000000;
    color: #fff;
}

.btn-primary,
.btn-outline-primary {
    background-image: linear-gradient(to right, #01866D 0%, #2D3677 51%, #01866D 100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 6px;
    display: block;
    border-color: transparent;
    max-width: 130px;
    margin: auto;
    font-size: 15px;
}


.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    border-color: transparent;
    border-color: transparent;

}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    border-color: transparent;
}



.woocommerce div.product form.cart .variations select {
    height: 38px;
    border: 1px solid #ccc;
}

.single_variation_wrap {
    margin-top: 13px;
}

span.woocommerce-Price-amount.amount {
    margin-right: 5px;
}


#index_fe_product h3 {
    margin-bottom: 22px;
    font-size: 30px;
    text-align: left;
    margin-top: 5px;
}

li.pwb-columns.pwb-columns-2 {
    list-style: none;
    padding: 10px;
}

aside#pwb_list_widget-2 ul {
    padding: 0;
}

.pwb-all-brands img {
    width: 100%;
    height: auto;
}

.pwb-slick-slide.slick-slide img {
    width: 100%;
    height: auto;
}

.pwb-carousel .pwb-slick-slide a:hover,
.pwb-carousel .pwb-slick-slide a:active,
.pwb-carousel .pwb-slick-slide a:focus {
    outline: none;
}

.pwb-carousel .pwb-slick-slide a>img {
    margin: 0 auto;
    outline: none;
}


code {
    font-size: 87.5%;
    color: #242424;
    word-break: break-word;
}