@media screen and (max-width: 414px) {
    .woo_product_search {
        display: none;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        font-size: 12px;
    }

    #index_offer .offer_card .offer_card_right .offer_crad_right_r1 {
        width: 40%;
    }

    #index_offer .offer_card .offer_card_right .offer_crad_right_l1 {
        width: 60%;
    }

    #index_offer .offer_card .offer_card_right .offer_crad_right_r1 img {
        padding: 4px;
        max-width: 128px;
    }

    .woocommerce .woocommerce-result-count {
        margin: 10px 0;
        font-size: 12px;
    }

    #index_offer h1 {
        font-size: 14px;
        line-height: 21px;
    }

    #index_offer {
        padding: 3% 2%;
    }



    #footer h2 {
        font-size: 16px;
        ;
    }

    // New Style 

    .home .woocommerce ul.products li.product .price {
        font-size: 14px;
    }


    .woocommerce-page.columns-5 ul.products li.product,
    .woocommerce.columns-5 ul.products li.product {
        width: 48%;
        padding: 15px;
        margin: 0 1% 3% 0;
    }

    .woocommerce span.onsale {
        padding: 12px 12px;
        font-size: 12px;

    }

    .woocommerce ul.products li.product .onsale {
        top: 7%;
        right: 20%;
    }

    .woocommerce ul.products li.product a img {
        max-width: 120px;
        padding: 6px;
        margin-top: 16px;
    }

    .woocommerce ul.products li.product .woocommerce-loop-category__title,
    .woocommerce ul.products li.product .woocommerce-loop-product__title,
    .woocommerce ul.products li.product h3 {
        padding: 0 0 0.2em;
        font-size: 0.9em;
        line-height: 22px;
        min-height: 52px;
    }

    .add-to-cart-container {
        margin-top: 2px;
    }

    #index_fe_product h3 {
        margin-bottom: 16px;
        font-size: 25px;
        text-align: left;
        margin-top: 4px;
    }

    #oder24 h2 {
        font-size: 20px;
        font-weight: 900;
    }

    #oder24 ul li svg {
        font-size: 50px;
        color: #2d3677;
    }

    #oder24 {
        padding-top: 12%;
    }

    article,
    aside,
    figcaption,
    figure,
    footer,
    hgroup,
    main,
    nav,
    section {
        display: block;
        padding: 0 5px;
    }

    #slider_section .index_cat_btn a {
        font-size: 18px;
        padding: 8px 18px;
    }

    .small,
    small {
        font-size: 100%;
        font-weight: 400;
    }

    .free_lb {

        padding: 15px 36px;
        border-radius: 12px;
        margin-top: 4px;
        font-size: 23px;
        line-height: 28px;
    }

    #index_about h2 {
        margin-bottom: 11px;
        font-size: 26px;
        line-height: 37px;
    }

    #index_about p {
        font-size: 18px;
        line-height: 25px;
        padding: 10px;
    }

    .woocommerce div.product div.summary {
        text-align: center;
    }

    .woocommerce div.product .product_title {

        font-size: 23px;
    }

    .woocommerce div.product form.cart div.quantity {
        float: initial;
        margin: 20px;
    }

    .related h2 {
        text-align: center;
    }

    .woocommerce ul.products li.product .onsale {
        margin: -.5em -.5em 0 0;
        font-size: 12px;
        border-radius: 30px;
        padding: 12px 14px;
    }

    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        padding: 15px 5px;
    }

    .woocommerce ul.products[class*=columns-] li.product,
    .woocommerce-page ul.products[class*=columns-] li.product {
        margin: 0 0 1em;
    }

    header.woocommerce-products-header h1 {
        padding: 8px;
    }

    #archive_page .archive_page ul.products li.product,
    #archive_page .archive_page ul.products li.product {
        width: 48.5%;
    }

    ul.list-inline.mt-3 {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    button.navbar-toggler {
        position: absolute;
        right: 11px;
        top: 16px;
    }

    #slider_section .carousel {
        min-height: auto;

    }

    #slider_section .index_banner_img {
        min-height: auto;
    }

}