@media screen and  (max-width: 1080px){

    #index_offer .offer_card h2 {
        font-size: 18px;
        margin-bottom: 6px;
        font-weight: 700;
        line-height: 26px;
    } 
    #index_offer .offer_card h3 {
        font-size: 15px;
        margin-bottom: 12px;
        margin-top: 10px;
    }
    #index_offer .offer_card .offer_card_right .offer_card_right_top {
        padding: 15px;
    }
    #index_offer .offer_card .offer_card_right .offer_crad_right_l1 h3 {
        margin-top: 8px;
    }
    #index_offer .offer_card .offer_card_right .offer_crad_right_r1 img {
        padding: 10px;
        max-width: 159px;
    }
    #index_offer .offer_card h2 {
        font-size: 18px;
        line-height: 26px;
    }
    .nav_menu {
        position: absolute;
        margin: auto;
        width: 100%;
        top: 75%;
        z-index: 999;
        text-align: center;
        padding: 20px;
        right: 0;
    }
    ul#main-menu {
        background: rgba(255, 255, 255, 0.92);
        padding: 20px;
        max-width: 300px;
        margin: auto;
    }
}