@media screen and (max-width: 769px) {


    #footer {
        padding-top: 8%;
        padding-bottom: 8%;
        text-align: center;
    }

    article,
    aside,
    figcaption,
    figure,
    footer,
    hgroup,
    main,
    nav,
    section {
        display: block;
        padding: 0 15px;
    }

    .header {
        padding: 0 0;
    }

    #index_offer h1 {
        font-size: 20px;
    }

    .woocommerce-notices-wrapper {
        margin-top: 10px;
    }

    .product_cart_price {
        right: 0;

    }

    h1.woocommerce-products-header__title:before,
    .page h1.entry-title:before {
        display: none;
    }

    h1.woocommerce-products-header__title:after,
    .page h1.entry-title:after {
        display: none;
    }

    section#oder24 h3 {
        font-size: 18px;
    }

    #footer .gov_section h2 {

        font-size: 16px;
    }

    #oder24 {

        padding-bottom: 10%;

        h2 {
            font-size: 23px;
        }
    }


    #online_main_btn a {
        margin-bottom: 15px;

    }

    #online_main_btn {
        padding: 5% 0 0;
    }

    h1.woocommerce-products-header__title,
    .page h1.entry-title {
        font-size: 20px;
    }

    li.product-category.squirrel-cat {
        float: left;
        margin: 0 2% 0.5em 0;
        text-align: center;
        padding: 6px;
        position: relative;
        width: 19%;
        margin-left: 0;
        -webkit-box-shadow: 0px 1px 5px 0px #00000026;
        box-shadow: 0px 1px 5px 0px #00000026;
    }

    h2.woocommerce-loop-category__title.squirrel-cat-h2 {
        font-size: 11px;
        margin-top: 4px;
        min-height: 28px;
        overflow: hidden;
        height: 28px;
        margin-bottom: 0;
    }

    header.woocommerce-products-header h1 {
        margin-bottom: 0px;
    }

    article {
        padding: 0 10px;
    }

    .shop_table button.btn.btn-outline-primary {
        float: left;
    }

    .btn-primary,
    .btn-outline-primary {
        font-size: 13px;
        padding: 6px 23px;
    }

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {

        font-size: 14px;
    }

    li.wc_payment_method.payment_method_payhere label {
        display: contents;
    }

    #index_fe_product h1 {
        font-size: 40px;
        text-align: center;
    }

    #index_fe_product P {
        font-size: 19px;
        line-height: 28px;
        text-align: center;
    }

    #index_fe_product a {
        font-size: 18px;
    }

    #index_fe_product h4 {
        font-size: 16px;
        margin-bottom: 26px;
    }

    #dps_front-pack .product_pack_item {
        max-width: 100%;
        width: 100%;
    }

}