@media screen and  (max-width: 414px){
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    font-size: 14px;
}
#index_offer .offer_card h2 {
    font-size: 15px;
    line-height: 23px;
}
.woocommerce .woocommerce-result-count {
    margin: 10px 0;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.woocommerce .woocommerce-ordering {
    width: 100%;
}
}